@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --very-dark-gray: hsl(0, 0%, 41%);
    --dark-gray: hsl(0, 0%, 55%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
  }

  .wrapper-container{
    @apply container mx-auto lg:px-0 px-6;
  }

  .footer-container{
    @apply flex flex-col items-center lg:items-start gap-6 lg:gap-8;
  }

}

.bg-earth{
  background-image: url('../../public/images/mobile/image-deep-earth.jpg');
}

@media (min-width: 1024px) {
  .bg-earth{
      background-image: url('/images/desktop/image-hero.jpg');
  }
}